
/* fonts */

@import url(http://fonts.googleapis.com/css?family=Lato);

/* containers */

body {
	width: 100%;
	margin: 0;
}

.wrapper {
	width: 100%;
	position: relative;
	margin: 0;
	z-index: 0;
	padding-top: 35px;
	background-color: #EEEEEE;
}

.main_content_wrapper {
	padding: 0px;
}

.main_content {

}

/* nav */

nav {
	font-family: 'Lato', sans-serif;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: #000;
}

nav ul {
	color: #fff;
	margin: 0 50px 0 0;
    height: inherit;
    float: left;
}

nav li {
    list-style: none;
    display: inline-block;
    height: inherit;
    vertical-align: middle;
    line-height: 55px;
}

nav a {
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
    display: block;
    height: 55px;
}

nav a:link, nav a:visited{
	text-decoration: none;
       color: #fff;

}

.nav_link:hover {
	border-bottom: 5px solid #E26A6A;
    color: #E26A6A;
	/*background-color: #333333;*/
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}

nav ul ul {
	background: #333333; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
	margin: 0;
}
	nav ul ul li {
		float: none; 
		background: #000;
		position: relative;
		display: block;
		margin: 0;
		vertical-align: middle;
		line-height: 55px;
		height: 55px;
	}
		nav ul ul li a {
			color: #fff;
			display: block;
			width: 100%;
			text-align: center;
			margin: 0;
			width: inherit;

		}	
			nav ul ul li a:hover {
    			color: #E26A6A;
				-webkit-transition: color 0.4s ease;
				transition: color 0.4s ease;
			}


/* header */

.header {
	padding-bottom: 20px;
	height: 200px;
	background-color: rgba(255,255,255,0.7);
}

.logo_container{
	width: 50%;
}

.header_img {
	width: 100%;
	margin-left: 50px;
	margin-top: 40px;

}

.sponsors_header {
	width: 40%;
	padding-top: 20px;
}

.sponsor_in_header {
	width: 180px;
	padding: 7px;
}

.sponsors_row {
	display: block;
	text-align: center;
	padding: 10px;
}


/* landing img */

.landing_img_container {
	padding-top: 20px;
	text-align: center;
	width: 100%;
}

.landing_img {
	width: 100%;
	height: auto;
}

/* global */

.error_msg {
	color: red;
}

.success_msg {
	color: green;
}

.left {
	float: left;
}

.right {
	float: right;
}