
/* fonts */

@import url(http://fonts.googleapis.com/css?family=Lato);

/* containers */

body {
	width: 100%;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

.wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0;
	z-index: 0;
	padding-bottom: 250px;
	background-color: #EEEEEE;
}

.main_content_wrapper {
	padding: 0px;
}

#main_content {
	margin: 20px auto;
	width: 70%;
	padding-top: 60px;
}

section p {
	margin-left: 20px;
}
/* nav */

nav {
	font-family: 'Lato', sans-serif;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: #000;
}

nav ul {
	color: #fff;
	margin: 0 50px 0 0;
    height: inherit;
    float: left;
}

nav li {
    list-style: none;
    display: inline-block;
    height: inherit;
    vertical-align: middle;
    line-height: 55px;
}

nav a {
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
    display: block;
    height: 55px;
}

nav a:link, nav a:visited{
	text-decoration: none;
       color: #fff;

}

.nav_link:hover {
	border-bottom: 5px solid #F64747;
    color: #F64747;
	/*background-color: #333333;*/
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}

nav ul ul {
	background: #333333; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
	margin: 0;
}
	nav ul ul li {
		float: none; 
		background: #000;
		position: relative;
		display: block;
		margin: 0;
		vertical-align: middle;
		line-height: 55px;
		height: 55px;
	}
		nav ul ul li a {
			color: #fff;
			display: block;
			width: 100%;
			text-align: center;
			margin: 0;
			width: inherit;

		}	
			nav ul ul li a:hover {
    			color: #F64747;
				-webkit-transition: color 0.4s ease;
				transition: color 0.4s ease;
			}


/* header */

.header {
	padding-bottom: 20px;
	height: 500px;
 	position: relative;
 	overflow: hidden;
}

.logo_container{
	width: 50%;
	text-align: center;
}

.header_link {
	width: 100%;
	position: absolute;
	top: 150px;
	z-index: 5;
	padding-top: 30px;
	font-family: 'Lato';
	font-size: 90px;
	color: #fff;
	text-decoration: none;
	text-align: center;
}


.header_logo_container {
	width: 100%;
	position: absolute;
	top: 150px;
	z-index: 5;
	padding-top: 30px;
	background-color: rgba(255,255,255,0.3);
}

.header_logo {
	margin: auto 0;
	width: 65%;
}

.header_img {
	width: 100%;
	margin-left: 50px;
	margin-top: 40px;
	position: relative;
	z-index: 1;
}

.headerbg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	opacity: 0.9;
}

/* landing img */

.landing_img_container {
	padding-top: 20px;
	text-align: center;
	width: 100%;
}

.landing_img {
	width: 100%;
	height: auto;
}



/* footer */
footer {
	height: 200px;
	position: absolute;
	bottom: 0px;
	padding-top: 20px;
	width: 100%;
	background-color: #000;
	color: #fff;
	text-align: center;
}

.footer_sponsor {
	height: 40px;
	font-family: 'Lato', sans-serif;
	padding: 15px;
}

.title2 {
	height: 65px;
	position: relative;
	top: 5px;
}

.title3 {
	height: 35px;
	position: relative;
	bottom: 4px;
}


/* global */

.error_msg {
	color: red;
}

.success_msg {
	color: green;
}

.left {
	float: left;
}

.right {
	float: right;
}


h1{
	font-size: 40px;
	color: maroon;
}
strong{
	font-weight: 900;
}

p {
	font-size: 18px;
}