.side_nav {
	position: absolute;
	top: 650px;
	right: 50px;
	z-index: 3;
	width: 250px;
}

ul {
	list-style: none;
}

.side_nav li {
	padding: 10px;
	background-color: #000;
	margin-bottom: 10px;
	width: 100%;
}

/*.side_nav li:hover {
	color: #fff;
	background-color: #333333;
	-webkit-transition: all 0.3s linear;
	transition: background-color 0.3s linear;
}*/

.side_nav a {
	color: #fff;
	font-family: 'Lato', sans-serif;
	width: 100%;
	height: 100%;
}

.toggle_btn {
	color: #fff;
	font-family: 'Lato', sans-serif;
	width: 100%;
	height: 100%;
}

.side_nav a:link, .side_nav a:visited {
	text-decoration: none;
	color: #fff;
}

.side_nav li:hover, .side_nav a:hover, .toggle_btn:hover {
	cursor: pointer;
	color: #F64747;
	-webkit-transition: color 0.3s linear;
	transition: color 0.3s linear;
}

#main_content {
	position: relative;
	z-index: 0;
	min-height: 2200px;
}

.side_nav ul ul {
	display: none;
}
/*
	.side_nav ul li:hover > ul {
		display: block;
	}
	*/

.side_nav ul ul {
	background: #000; 
	border-radius: 0px; 
	padding: 0;
	/*position: absolute; */
	top: 20px;
	width: 100%;
	margin: 0;
}
	.side_nav ul ul li {
		float: none; 
		background: #000;
		position: relative;
		right: 10px;
		display: block;
		margin: 0;
		vertical-align: middle;
		line-height: 20px;
		height: 20px;
		width: 100%;
	}
		.side_nav ul ul li a {
			color: #fff;
			display: block;
			width: 100%;
			text-align: center;
			margin: 0;
			width: inherit;

		}	
			.side_nav ul ul li:hover {
				background: #000;
				color: #F64747;
			}


.car_item {
	display: none;
}

.car_item_img{
	padding-left: 10%;
	width: 80%;
	padding-top: 30px;
	padding-bottom: 30px;
}

h2 {
	color: maroon;
}

.car_item{
	width: 80%;
}

p {
	text-indent: 25px;
	line-height: 30px;
	text-align: justify;
}

#main_content ul {
	list-style-type: initial;
	padding-bottom: 15px;
}

.car_item_left{
	float: left;
	width: 45%;
	text-align: left;
}

.car_item_right{
	float: right;
	width: 45%;
	text-align: left;
}
