#main_content{
	width: 80%;
	margin-left: 10%;
	padding: 20px;
}
.info p{
	font-size: 20px;
	line-height: 30px;
	font-family: 'Times New Roman';
}
.structure{
	width:50%;
	margin-left: 3%;
	padding: 20px;
	display: inline-block;
}
.comp_img{
	width: 30%;
	display: inline-block;
	position: absolute;
	top: 950px;
	right: 250px;

}
#list1{
	font-size: 20px;
	line-height: 30px;
	font-family: 'Times New Roman';
	display: inline-block;
	float: left;
}
#list2{
	font-size: 20px;
	line-height: 30px;
	font-family: 'Times New Roman';
	display: inline-block;
	margin-left: 30px;
}
