.main_content_wrapper{
	width: 80%;
	margin-left: 10%;
	margin-bottom: 10%;
}

.main_content {
	width: 40%;
	display: inline-block;
}

.contact_wrapper{
	margin-left: 50%;
	width: 35%;
	text-align: right;
	display: inline-block;
}

p {
	font-weight: bold;
}