#main_content{
	width: 80%;
	margin-left: 15%;
	margin-bottom: 10%;
}

.donate_wrapper{
	margin-left: 5%;
	display: inline-block;
	width: 35%;
}

.main_content_wrapper p{
	font-size: 18px;
	line-height: 25px;
	width: 50%;
	display: inline-block;
	float: left;
	font-weight: 100;
}


#paypal_btn {
	margin-top: 50px;
	padding: 20px;
	border-radius: 5px;
	font-size: 20px;
	color: #fff;
	background-color: #DB3F3F;
	border-color: #DB3F3F;
}

#paypal_btn:hover {
	cursor: pointer;
	color: #fff;
	background-color: #9E2E2E;
	border-color: #9E2E2E;
}

#main_content a, #main_content a:link, #main_content a:visited {
	text-decoration: none;
	color: maroon;
}

#main_content a:hover {
	background-color: #ABABAB;
}

#main_content {
	min-height: 550px;
}

