.main_content_wrapper{
	width: 80%;
	margin-left: 10%;
	margin-bottom: 10%;
}

.donate_wrapper{
	margin-left: 5%;
	display: inline-block;
	width: 35%;
}

p{
	font-size: 18px;
	line-height: 25px;
	width: 50%;
	display: inline-block;
	float: left;
	font-weight: 100;
}
p a{
	text-decoration: none;
	color: #446CB3;
}

#paypal_btn {
	margin-top: 30px;
	padding: 20px;
	border-radius: 5px;
	font-size: 20px;
	background-color: #BDC3C7;
}
