#main_content{
	width: 80%;
	margin-left: 10%;
	text-align: center;
}
.main_content img{
	display: inline-block;
	height: 300px;
}
.item_container {
	width: 300px;
	height: 300px;
	overflow: hidden;
}
.item_container img:hover{
	cursor: pointer;
	opacity: 0.7;
}