
.newsletter_item{
	margin-bottom: 20px;
}

.newsletter_link, .newsletter_link:link, .newsletter_link:visited{
	font-size: 20px;
	font-family: Arial;
	text-decoration: none;
	color: #000;
}

a:hover{
	color: maroon;
}