
.main_content_wrapper{
	width: 80%;
	margin-left: 10%;
}
li{
	margin-bottom: 20px;
}
a{
	font-size: 20px;
	font-family: Arial;
	text-decoration: none;
	color: black;
}
a:hover{
	color: maroon;
}
.landing_img_container{
	width: 50%;
	display: inline-block;
	float: right;
}
.main_content{
	width: 50%;
	display: inline-block;
	float: left;
}