
.main_content_wrapper{
	width: 80%;
	margin-left: 10%;
}
li{
	margin-bottom: 20px;
}

.newsletter_link, .newsletter_link:link, .newsletter_link:visited{
	font-size: 20px;
	font-family: Arial;
	text-decoration: none;
	color: #000;
}

a:hover{
	color: maroon;
}
.landing_img_container{
	width: 50%;
	display: inline-block;
	float: right;
}
#main_content{
	width: 50%;
	display: inline-block;
	float: left;
}